<% content_for(:title, "Edit | To Do") %>
<% content_for(:navbar) do %>
<li><a href="/">Home</a></li>
<li><a href="/lists">To Do App</a></li>
<li><a href="/lists/new">New List</a></li>
<% end %>
<hr>

<h1>Edit list</h1>

<%= render "form" %>
