<% content_for(:title, "Lists | To Do") %>
<% content_for(:navbar) do %>
<li><a href="/">Home</a></li>
<li><a href="/lists">To Do App</a></li>
<li><a href="/lists/new">New List</a></li>
<% end %>
<hr>

<h1>Lists</h1>

<ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %></li>
  <% end %>
</ul>
<%= link_to "New List", new_list_path %>
<hr>
<%= image_tag "rollercoaster.jpeg" %>
