<% content_for(:title, "New Task | To Do") %>
<% content_for(:navbar) do %>
<li><a href="/">Home</a></li>
<li><a href="/lists">To Do App</a></li>
<li><a href="/lists/new">New List</a></li>
<% end %>
<hr>

<h1>New task for <%= @list.name %></h1>

<%= render 'form' %>
